<h4>Currently the following mocks have been detected</h4>

<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>Expression</th>
        <th>Method</th>
        <th>Name</th>
        <th>Scenario</th>
        <th>Delay</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="mock in $ctrl.mocks track by mock.identifier"
        data-ng-init="selected = mock.responses[$ctrl.selections[mock.identifier]]; delay = $ctrl.delays[mock.identifier] || selected.delay;"
        identifier="{{::mock.name}}">
        <td><span data-ng-bind="::mock.expression.toString()"></span></td>
        <td><span data-ng-bind="::mock.method"></span></td>
        <td><span data-ng-bind="::mock.name"></span></td>
        <td><select name="{{::mock.expression.toString()}}$${{::mock.method}}"
                    data-ng-options="response.name for response in mock.responses"
                    data-ng-model="selected"
                    data-ng-change="$ctrl.selectMock(mock, selected.name); delay = $ctrl.delays[mock.identifier] || selected.delay;">
            <option value="">passThrough</option>
        </select></td>
        <td>
            <input type="number" min="0" data-ng-model="delay" data-ng-value="delay" data-ng-model-options="{debounce: 500}" data-ng-change="$ctrl.delayMock(mock, delay)">
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5" class="text-right">
            <button data-ng-click="$ctrl.defaultMocks()">Reset to defaults</button>
            <button data-ng-click="$ctrl.passThroughMocks()">All to passThrough</button>
        </td>
    </tr>
    </tfoot>
</table>